h1 {font-size: xx-large;
    color: #81E7AF;
}

p {
    color:#81E7AF;

}

#navlist li {list-style-type: none;
            display: inline;
            padding-right: 10px;}

body {background-color: #9DBDFF;}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 20%;

}